@page
@model OptionModel
@{
    ViewData["Title"] = "Deribit Options Data";
}

<div class="container">
    <h1>Deribit Options Data</h1>
    <partial name="_OptionsForm" model="Model" />

    @if (Model.ViewModel.OptionData?.Any() == true)
    {
        <div class="option-data-container">
            <h4>Options Data for @(Model.ViewModel.SelectedCurrencyId == 1 ? "BTC" : "ETH") - @Model.ViewModel.SelectedExpiration 
                Underlying Price: @Model.ViewModel.UnderlyingPrice.ToString("N2")
                </h4>
            <table>
                <thead>
                <tr>
                    <th>Call Gamma</th>
                    <th>Call Delta</th>
                    <th>Call Price</th>
                    <th>Call OI</th>
                    <th>Strike</th>
                    <th>IV</th>
                    <th>Put OI</th>
                    <th>Put Price</th>
                    <th>Put Delta</th>
                    <th>Put Gamma</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var data in Model.ViewModel.OptionData)
                {
                    <tr>
                        <td>@data.CallGamma.ToString("F6")</td>
                        <td>@data.CallDelta.ToString("F2")</td>
                        <td>@data.CallPrice.ToString("F2")</td>
                        <td>@data.CallOi.ToString("N0")</td>
                        <td>@data.Strike</td>
                        <td>@data.Iv.ToString("F2")</td>
                        <td>@data.PutOi.ToString("N0")</td>
                        <td>@data.PutPrice.ToString("F2")</td>
                        <td>@data.PutDelta.ToString("F2")</td>
                        <td>@data.PutGamma.ToString("F6")</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="option-data-container">
            <h2>Options Data</h2>
            <p>No data available</p>
        </div>
    }
</div>

@section Scripts{
    <script>
    </script>
}
